.popups{}
.popups>.popup{position:fixed;top:0px;left:0px;right:0px;bottom:0px;}
.popups>.popup>div{transition:opacity .16s,transform .38s cubic-bezier(.25,2.6,.5,1);}
.popups>.popup>.background{position:absolute;top:0px;left:0px;right:0px;bottom:0px;background:#000000;opacity:0;}
.popups>.popup>.content{position:absolute;opacity:0;transform:scale(.82);background:#393939;border-radius:4px;overflow:hidden;box-shadow:0px 0px 40px rgba(0,0,0,.68);}
.popups>.popup>.content .footer{margin:10px;}
.popups>.popup>.content .footer .buttons{text-align:right;}
.popups>.popup>.content .footer .buttons button{border:none;border-radius:20px;font-size:14px;padding:4px 12px;margin-left:10px;}

.popups>.popup>.content textarea{padding:10px;resize:none;border:none;background:#585858;color:#FFFFFF;font-size:14px;}
.popups>.popup>.content .CodeMirror{height:100% !important;}

.popups>.popup>.content .fileUploadFrame{position:relative;height:240px;width:auto;overflow:hidden;background-color:#585858;background-position:50% 32%;border:2px dashed #999999;}
.popups>.popup>.content .fileUploadFrame>div{position:relative;text-align:center;top:174px;font-size:18px;color:#FFFFFF;transition:color .14s;}
.popups>.popup>.content .fileUploadFrame:not(.inProcess){cursor:pointer;}

.popups>.popup>.content .fafHolder{height:244px;width:auto;overflow:hidden;position:relative;}
.popups>.popup>.content .fafHolder .viewUploadedFrame{position:absolute;top:0px;left:0px;right:0px;bottom:0px;overflow:hidden;background:#585858;transition:opacity .16s;}
.popups>.popup>.content .fafHolder .viewUploadedFrame img{}
.popups>.popup>.content .fafHolder .viewUploadedFrame div{position:absolute;top:0px;left:0px;right:0px;bottom:0px;opacity:0;background-color:rgba(0,0,0,.4);transition:opacity .16s;cursor:pointer;}
.popups>.popup>.content .fafHolder .viewUploadedFrame div:hover{opacity:1;}
.popups>.popup>.content .fafHolder input[type=file]{opacity:0;position:absolute;top:-9999px;left:-9999px;width:1px;height:1px;overflow:hidden;} /* No display:none; or jQuery won't trigger click and change */

.popups>.popup>.content .pOptions{}
.popups>.popup>.content .pOptions input[type=text]{width:56px;padding:0px 8px;height:26px;background:#1B1B1B;transition:all .14s;border-radius:6px;color:#FFFFFF;border:none;text-align:center;font-size:14px;}
.popups>.popup>.content .pOptions input[type=text]:focus{background:#202020;}
.popups>.popup>.content .pOptions .alignSelector{width:84px;height:26px;background:#1B1B1B;transition:all .14s;border-radius:6px;overflow:hidden;}
.popups>.popup>.content .pOptions .alignSelector>div{float:left;width:28px;height:100%;vertical-align:middle;transition:all .14s;text-align:center;font-size:16px;cursor:pointer;}
.popups>.popup>.content .pOptions .alignSelector>div:hover{background:#242424;}
.popups>.popup>.content .pOptions .alignSelector>div.active{background:#595959;}

.popups>.popup>.content input[type=text]{width:146px;padding:0px 8px;height:28px;background:#1B1B1B;transition:all .14s;border-radius:6px;color:#FFFFFF;border:none;font-size:14px;}
.popups>.popup>.content input[type=text]:focus{background:#202020;}

.popups>.popup>.content .fakeInput{padding:6px 8px;background:#1B1B1B;border-radius:6px;color:#FFFFFF;font-size:14px;transition:all .22s;}
.popups>.popup>.content .fakeInput:hover{background:#202020;}

.popups>.popup>.content .copyHolder{}
.popups>.popup>.content .copyHolder .ic{opacity:.8;transition:opacity .18s;}
.popups>.popup>.content .copyHolder:hover .ic{opacity:1;}
.popups>.popup>.content .copyHolder .ic.hide{opacity:0;}

.popups>.popup>.content .media{position:relative;}
.popups>.popup>.content .media .ic{width:32px;height:32px;border-radius:6px;display:inline-block;margin-right:10px;border:2px solid #393939;opacity:.76;transition:all .24s;}
.popups>.popup>.content .media .ic:hover{border-color:#393939;opacity:1;}

.popups>.popup>.content .colors{position:relative;}
.popups>.popup>.content .colors>.color{float:left;width:16px;height:16px;border-radius:16px;border:2px solid transparent;margin:0px 8px 8px 0px;}
.popups>.popup>.content .colors>.color.active{border:2px solid rgba(255,255,255,.6);}

.popups>.popup>.content .dropDown{position:relative;}
.popups>.popup>.content .dropDown>.dropDownHeader{padding:4px 12px;background:#1B1B1B;transition:all .14s;border-radius:6px;font-size:14px;display:inline-block;cursor:default;transition:all .14s;}
.popups>.popup>.content .dropDown:not(.opened)>.dropDownHeader:hover{background:#212121;}
.popups>.popup>.content .dropDown .dropDownContent{display:none;position:absolute;z-index:999;overflow:hidden;top:-224px;background:#535353;border-radius:6px;box-shadow:0px 0px 20px rgba(0,0,0,.68);}
.popups>.popup>.content .dropDown .dropDownContent .dropDownItems{width:200px;overflow:hidden;height:220px;}
.popups>.popup>.content .dropDown .dropDownContent .dropDownItems .dropDownItem{padding:4px 8px;transition:all .2s;cursor:default;}
.popups>.popup>.content .dropDown .dropDownContent .dropDownItems .dropDownItem:hover{background:rgba(0,0,0,.16);}
.popups>.popup>.content .dropDown .dropDownContent .dropDownScroller{position:absolute;top:4px;right:0px;bottom:4px;width:4px;overflow:hidden;}