RewriteEngine On

# Change this in case if prolect is located in folder.
# Don't forget / at the end.
RewriteBase /

# Remove www from URL
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

# Remove index.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [NC]
RewriteRule ^ %1 [R=301,L]

# Forward request to index.php file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php?p=$1 [QSA,NC,L]